<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>登高安全演示</title>
</head>
<body>

    <center>


        <div style="background: #F0F8FF;width: 500px; height: 500px; align-content: center">
            <h1 class='title'>YOLOv4智慧家居检测Flask Web演示</h1>
            <h1>请上传图片或视频文件</h1>
            <form action="http://127.0.0.1:8080/photo/upload" method=post enctype=multipart/form-data>

                <h1><input type=file name=file></h1>
                <h1><input type=submit value=Upload></h1>
            </form>
        </div>
    </center>
</body>
</html>